.postpage .banner {
  height: 40vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;

  background-image: radial-gradient(
      circle at top left,
      rgba($postpage-banner-color1, 0.9) -15%,
      rgba($postpage-banner-color2, 0.4) 70%
    ),
    radial-gradient(
      circle at bottom right,
      rgba($postpage-banner-color3, 0.9) -20%,
      rgba($postpage-banner-color2, 0.4) 60%
    );

  &:after {
    @include banner-arrow(16rem, 7rem, $posY: 55%);
  }

  &:before {
    @include banner-arrow(6rem, 5rem, $posY: 20%);
  }
}
