.postpage article .post-content pre.line-numbers {
  counter-reset: linenumbers 0;
  padding: 0.6rem 0.5rem 0.6rem 0.8rem;
  position: relative;

  code {
    counter-increment: linenumbers 1;
    padding-left: 4.2rem;

    &:before {
      content: counter(linenumbers);
      position: absolute;
      left: 0;

      display: inline-block;
      width: 3.2rem;
      padding-right: 0.8rem;
      border-right: 2px solid rgba($postpage-ui-color, 0.2);

      text-align: right;
      letter-spacing: -0.5px;
    }
  }
}
