.postpage article .post-content pre.line-numbers {
  counter-reset: linenumbers 0;
  padding: 0.6rem 0.5rem 0.6rem 0.8rem;
  position: relative;

  code {
    padding-left: 4.2rem;
  }

  .number-list {
    position: absolute;
    left: 0;
    top: 0.6rem;
    bottom: 0.6rem;
    width: 4.1rem;
    border-right: 2px solid rgba($postpage-ui-color, 0.2);

    display: flex;
    flex-flow: column;

    span {
      padding-right: 0.8rem;
      flex: 1;
      min-height: 0;

      counter-increment: linenumbers 1;
      text-align: right;
      letter-spacing: -0.5px;

      &:before {
        content: counter(linenumbers);
        font-family: $mono-font;
      }
    }
  }
}
