@include brk-down($brk-tiny) {
  .postpage article .post-content {
    padding: 0 1.2rem 0 1rem;

    img {
      max-width: 80%;
    }

    blockquote {
      margin: 1.8rem 0 0 0.8rem;
    }
  }
}

@include brk-down($brk-x-tiny) {
  .postpage article .post-content {
    padding: 0 1rem 0 0.8rem;

    h1 {
      font-size: 1.4rem;
    }

    > h1:before {
      left: -1.4rem;
      bottom: 0.15rem;
      font-size: 1.1rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1rem;
    }
  }
}
