.postpage {
  .toc-wrapper {
    position: fixed;
    right: 0;
    bottom: 8rem;
    width: 220px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0 1.2rem 0 0;

    transition: opacity 0.4s, visibility 0.4s;
    opacity: 1;
    visibility: visible;

    @include brk-down($brk-x-huge) {
      width: 160px;
      max-height: 40vh;
    }

    @include brk-down($brk-huge) {
      display: none;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    ::selection {
      background-color: rgba($postpage-ui-color, 0.2);
    }

    ul {
      padding: 0;
      margin: 0;
    }
  }

  .toc {
    text-align: right;
    right: 0;
    padding-left: 1rem;

    li {
      display: block;

      a {
        text-decoration: none;
        color: $postpage-ui-color;

        &:hover {
          color: $postpage-link-color;
        }
      }
    }
  }

  .toc > li {
    // h1
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.4;

    > a {
      position: relative;
    }

    > a:before {
      content: "\f1dd";
      position: absolute;
      left: -1.3rem;
      top: 0;
      font-family: "Font Awesome 5 Free";
      font-size: 1rem;
      color: rgba($postpage-link-color, 0.7);
    }
  }

  .toc > li > ul > li {
    // h2
    font-weight: normal;
    font-size: 1.1rem;
    a {
      color: rgba($postpage-ui-color, 0.9);
    }
  }

  .toc > li > ul > li > ul > li {
    // h3
    font-weight: normal;
    font-size: 0.9rem;
    a {
      color: rgba($postpage-ui-color, 0.7);
    }
  }
}
