header nav {
  background-color: $skyblue;

  ul {
    display: flex;
    margin: 0 5rem;
    padding: 0.6rem 0;
    align-items: center;

    font-size: 1.2rem;

    li {
      display: inline-block;
      margin: 0.4rem 0;
      padding: 0 1rem;

      &.brand {
        margin-right: auto;
        font-family: $brand-font;
        font-size: 1.4rem;

        .fas {
          margin-right: 0.4rem;
        }
      }

      &:nth-of-type(n + 3) {
        border-left: 1px solid rgba($navbar-text-color, 0.4);
      }

      &.active {
        font-weight: bold;
      }

      a {
        color: $navbar-text-color;
        text-decoration: none;
      }
    }
  }
}
