.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 10;

  background-color: rgba($default-ui-color, 0.6);
  border: none;
  border-radius: 5px;

  font-size: 1.6rem;
  color: rgba($content-color, 0.8);
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.4s, visibility 0.4s;
  opacity: 1;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
