aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 20;

  background-image: radial-gradient(
      circle at -10% 110%,
      rgba($sidebar-color2, 0.8),
      rgba($sidebar-color-mid, 0.75)
    ),
    radial-gradient(
      circle at 110% -10%,
      rgba($sidebar-color1, 0.8),
      rgba($sidebar-color-mid, 0.75)
    );

  transition: transform 0.6s;

  &.hidden {
    transform: translateX(-320px);
  }

  @include brk-down($brk-small) {
    width: 240px;

    &.hidden {
      transform: translateX(-240px);
    }
  }

  .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  .handle {
    width: 3rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    top: 5rem;
    right: -3rem;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    font-size: 1.2rem;
    color: $sidebar-handle-color;
    background-color: rgba($sidebar-ui-color, 0.8);
    border: none;
    border-radius: 0 5px 5px 0;

    outline: none;
    cursor: pointer;
  }
}
