aside nav {
  width: 100%;
  // padding: 0 0.6rem;

  ul {
    margin: 4rem 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: stretch;

    li {
      display: inline-block;
      font-size: 1.4rem;

      &:nth-of-type(n + 2) {
        // border-top: 1px solid rgba($sidebar-ui-color, 0.4);
      }

      &:first-of-type a {
        display: flex;

        i {
          position: relative;
          top: 1px;
          font-size: 1.6rem;
          margin-left: auto;
          transition: transform 0.2s;

          &.opened {
            transform: scaleY(-1);
          }
        }
      }

      &:nth-of-type(n + 2) i {
        margin-right: 0.6rem;
      }
    }

    a {
      width: 100%;
      display: inline-block;
      padding: 1rem 1rem;
      text-decoration: none;
      color: $sidebar-ui-color;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: white;
        background-color: rgba($sidebar-ui-color, 0.2);
      }
    }
  }
}
