{% macro render_post_card(post) %}
  <a href="#" class="card">
    <h3>Hello sky</h3>
    <p class="preview">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim venia
    </p>
  </a>
{% endmacro %}

{% macro render_article_post(post) %}
  <a href="{{ post.path|url }}" class="post-link">
    <article>
      <div class="info">
        <h2>{{ post.title }}</h2>
        <time>{{ post.pub_date.strftime('%Y - %m - %d') }}</time>
      </div>
      <p class="preview">
        {{ post.body|striphtmltags|truncate(500) }}
      </p>
    </article>
  </a>
{% endmacro %}