{% macro render_pagination(pagination) %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
      <a class="disabled"><i class="fas fa-chevron-left"></i></a>
    {% endif %}

    {% for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
      {% if page %}
        <a {% if page == pagination.page %}class="active"
           {% else %}href="{{ '@%d'|format(page)|url }}"{% endif %}>{{ page }}</a>
      {% else %}
        <a class="disabled"><i class="fas fa-ellipsis-h"></i></a>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
      <a class="disabled"><i class="fas fa-chevron-right"></i></a>
    {% endif %}
  </div>
{% endmacro %}
