{% macro render_info(post) %}
  <section class="info">
    <h1 class="title"><i class="fas fa-seedling"></i><span>{{ post.title }}</span></h1>
    <div class="meta-data">
      <span class="author"><i class="fas fa-feather-alt"></i> {{ post.author }}</span>
      <time class="publish-date">
        <i class="fas fa-at"></i> {{ post.pub_date|dateformat('Y - MM - dd') }}
      </time>
    </div>
  </section>
{% endmacro %}

{% macro render_adj_post(post) %}
  {% set siblings = post.get_siblings() %}
  <section class="adjacent-posts">
    {% if siblings.prev_page %}
      <div class="next">
        <span>Next Post</span>
        <a href="{{ siblings.prev_page|url }}">
          <h3>{{ siblings.prev_page.title }} <i class="fas fa-chevron-right"></i></h3>
        </a>
      </div>
    {% endif %}
    {% if siblings.next_page %}
      <div class="prev">
        <span>Prev Post</span>
        <a href="{{ siblings.next_page|url }}">
          <h3><i class="fas fa-chevron-left"></i> {{ siblings.next_page.title }}</h3>
        </a>
      </div>
    {% endif %}
  </section>
{% endmacro %}

{% macro render_tag_list(post) %}
  {% if post.tags %}
    <ul class="tags">
      {% for t in post.tags -%}
        <li>
          <a href="{{ ('/articles@tag/' ~ t)|url }}">
            {{ t }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_post(post) %}
  {{ render_info(post) }}

  <div class="article-wrapper">
    <section class="post-content">
      {{ post.body }}
    </section>
    {{ render_tag_list(post) }}
    <div class="comments">{{ render_disqus_comments() }}</div>
    {{ render_adj_post(post) }}
  </div>
{% endmacro %}
