.articles {
  main {
    display: flex;

    background-color: $articles-page-color;
    color: $articles-ui-color;

    header {
      height: 30vh;
    }
  }

  .main-wrapper {
    padding: 5rem 3rem 2rem;
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 18rem;
    gap: 0.2rem 0.2rem;

    @include brk-down($brk-large) {
      grid-template-columns: 1fr;
      padding: 3rem 2.4rem;
      row-gap: 0.5rem;
    }

    @include brk-down($brk-small) {
      row-gap: 1rem;
      grid-auto-rows: 16.4rem;
    }

    @include brk-down($brk-tiny) {
      padding: 2rem 1.6rem;
      grid-auto-rows: 12rem;
    }
  }
}
