.articles {
  main {
    display: flex;
    justify-content: center;

    background-color: $articles-page-color;
  }

  .main-wrapper {
    padding: 5rem 3rem;
    flex-basis: 1200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
  }
}
