.articles {
  main {
    padding-top: 3rem;
    display: grid;
    flex-flow: column;

    background-color: $articles-page-color;
    color: $articles-ui-color;
  }

  .main-wrapper {
    padding: 2rem 3rem 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: minmax(0,  1fr);
    grid-auto-rows: minmax(0, auto);
    gap: 2rem 0.2rem;

    @include brk-down($brk-large) {
      padding: 3rem 2.4rem;
      row-gap: 0.5rem;
    }

    @include brk-down($brk-small) {
      row-gap: 1rem;
      //grid-auto-rows: 16.4rem;
    }

    @include brk-down($brk-tiny) {
      padding: 2rem 1.6rem;
      //grid-auto-rows: 12rem;
    }
  }
}
