.home {
  .content {
    display: flex;
    flex-flow: column;
    color: $default-ui-color;

    section {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;

      &:first-of-type {
        background-color: $latest-content-color;
        .card {
          color: $latest-ui-color;
        }
      }

      &:nth-of-type(2) {
        background-color: $hotpost-content-color;
        .card {
          color: $hotpost-ui-color;
        }
      }

      &:nth-of-type(3) {
        background-color: $about-content-color;
        .card {
          color: $about-ui-color;
        }
      }
    }

    .content-wrapper {
      padding: 5rem 3rem;
      flex-basis: 1080px;

      display: grid;
      grid-auto-flow: dense;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3, minmax(0,  1fr));
      row-gap: 0.3rem;
      column-gap: 0.3rem;

      @include brk-down($brk-huge) {
        grid-template-columns: repeat(2, minmax(0,  1fr));
        grid-template-rows: 1fr 1fr 1fr;
      }

      @include brk-down($brk-small) {
        grid-template-columns: minmax(0,  1fr);
        grid-template-rows: 0.6fr repeat(4, 1fr);
      }

      @include brk-down($brk-tiny) {
        grid-template-rows: 0.6fr repeat(2, 1fr);
        padding: 5rem 1.2rem;

        &.about {
          grid-template-rows: 0.6fr repeat(4, 1fr);
        }
      }
    }
  }
}
