.home {
  .content {
    display: flex;
    flex-flow: column;
    color: $default-ui-color;

    section {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;

      &:first-of-type {
        background-color: $latest-content-color;
        color: $latest-ui-color;
      }

      &:nth-of-type(2) {
        background-color: $hotpost-content-color;
        color: $hotpost-ui-color;
      }

      &:nth-of-type(3) {
        background-color: $about-content-color;
        color: $about-ui-color;
      }
    }

    .content-wrapper {
      padding: 5rem 3rem;
      flex-basis: 1080px;

      display: grid;
      grid-auto-flow: dense;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 0.3rem;
      column-gap: 0.3rem;
    }
  }
}
