{% extends "layout-normal.html" %}
{% from "macros/card.html" import render_article_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Articles - skyblog{% endblock %}

{% block banner %}
  <h1>Articles</h1>
{% endblock %}
{% block main %}
  <main>
    <div class="main-wrapper">
      {% for post in this.pagination.items %}
        {{ render_article_post(post) }}
      {% endfor %}
    </div>
  </main>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}

