{% extends "articles.html" %}
{% from "macros/card.html" import render_article_post %}
{% from "macros/pagination.html" import render_pagination %}

{% block main %}
  <main>
    <div class="breadcrumb-wrapper">
      <div class="breadcrumb">
        {%- for t in this.tag.split(' - ') -%}<span>{{ t }}</span>{% endfor %}
      </div>
    </div>
    <div class="main-wrapper">
      {% for post in this.items %}
        {{ render_article_post(post) }}
      {% endfor %}
    </div>
  </main>

  {% block pagination %}
    <div class="pagination"></div>
  {% endblock %}
{% endblock %}
