<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon-16x16.png'|url }}">
  <link rel="manifest" href="{{ '/static/site.webmanifest'|url }}">
  <link rel="mask-icon" href="{{ '/static/safari-pinned-tab.svg'|url }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
    crossorigin="anonymous"
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-266M1NLNKL"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-266M1NLNKL');
  </script>
  {% block head %}{% endblock %}
</head>

{#<body class="{{ this._model }}">#}
{% set model = this._model if this._model else this.parent._model %}
<body class="{{ bag('body_class', model) }}">
<header>
  <nav>
    <ul>
      <li class="brand">
        <a href="{{ '/'|url }}"><i class="fas fa-feather"></i> skyblog</a>
      </li>
      {% for href, title in [
        ['/', 'Home'],
        ['/articles', 'Articles'],
        ['/portfolio', 'Portfolio'],
        ['/#about', 'About'],
      ] %}
        <li class="option{% if this._path == href %} active{% endif %}">
          <a href="{{ href|url }}">{{ title }}</a>
        </li>
      {% endfor %}
      <li id="toggle-navbar"><i class="fas fa-th-large"></i></li>
    </ul>
  </nav>
</header>

<section class="banner">
  {% block banner %}{% endblock %}
</section>

{% block body %}{% endblock %}

<a href="#" class="scroll-top hidden" id="scroll-top">
  <i class="fas fa-chevron-up"></i>
</a>
<footer>&copy; Copyright 2021 by Skyline Liu.</footer>
<script src="{{ '/static/js/scroll_top.js'|url }}"></script>
<script src="{{ '/static/js/navbar.js'|url }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
