{% extends "layout-normal.html" %}
{% from "macros/project_card.html" import render_project_card, render_featured_project_card %}
{% block title %}Portfolio - skyblog{% endblock %}

{% block banner %}
  <h1>Portfolio</h1>
{% endblock %}

{% block main %}
  <main>
    <div class="main-wrapper">
      <h2>Featured Works</h2>
      <section class="featured-project">
        {% for project in this.projects.blocks %}
          {% if project.class == 'featured' %}
            {{ render_featured_project_card(project, this) }}
          {% endif %}
        {% endfor %}
      </section>

      <h2>Publications & Research</h2>
      <section class="normal-project">
        {% for project in this.projects.blocks %}
          {{ render_project_card(project, this) }}
        {% endfor %}
      </section>

      <h2>Other Projects</h2>
      <section class="normal-project">
        {% for project in this.projects.blocks %}
          {{ render_project_card(project, this) }}
        {% endfor %}
      </section>
      <a href="https://github.com/25349023" class="more-card">
        <h3>Discover More</h3>
        <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </main>
{% endblock %}
