{% extends "layout-normal.html" %}
{% from "macros/post.html" import render_post %}
{% block title %}{{ this.title }} - skyblog{% endblock %}
{% block head %}
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css"
  />
{% endblock %}

{% block main %}
  <section class="toc-wrapper hidden" id="toc">
    <ul class="toc">
      {% for item in this.body.toc recursive %}
        {% if loop.depth <= 3 %}
          <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{% if item.children %}
            <ul>{{ loop(item.children) }}</ul>{% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <main>
    <article>
      {{ render_post(this) }}
    </article>
  </main>

  <figure class="modal hidden" id="modal">
    <img src="" alt=""/>
    <figcaption>Alt text</figcaption>
  </figure>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ '/static/js/line_numbers.js'|url }}"></script>
  <script src="{{ '/static/js/toc.js'|url }}"></script>
  <script src="{{ '/static/js/post_image.js'|url }}"></script>
  <script src="{{ '/static/js/modal.js'|url }}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script>
      hljs.initHighlightingOnLoad();
  </script>
{% endblock %}