@mixin skew-banner(
  $direction: 5deg,
  $bottom: -100px,
  $height: 150px,
  $color: white
) {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: $bottom;
  height: $height;
  background-color: rgba($color, 0.5);
  transform: skewY($direction);
}
