$skyblue: rgb(203, 229, 255);
$placeholder-color: rgb(255, 191, 191);
$navbar-text-color: rgb(18, 58, 110);

$banner-title-color: rgb(211, 248, 228);
$banner-outer-color: rgba(0, 79, 168, 0.3);
$banner-inner-color: rgba(0, 0, 0, 0.1);

$content-color: rgb(248, 248, 248);
$latest-content-color: rgb(229, 241, 250);
$hotpost-content-color: rgb(202, 61, 36);
$about-content-color: rgb(210, 243, 232);

$articles-deck-color: rgb(217, 238, 247);
$post-color: rgb(255, 252, 245);
$post-color-deep: adjust-color(
  $color: $post-color,
  $saturation: 5%,
  $lightness: -3%,
);
$default-ui-color: rgb(56, 56, 56);
$latest-ui-color: rgb(32, 55, 85);
$hotpost-ui-color: $content-color;
$about-ui-color: rgb(41, 77, 57);

$latest-card-color: rgb(206, 229, 250);
$latest-card-hover-color: rgb(49, 85, 129);
$hotpost-card-color: rgb(167, 51, 31);
$hotpost-card-hover-color: rgb(250, 218, 214);
$about-card-color: rgb(173, 226, 208);
$about-card-hover-color: rgb(19, 95, 70);
$more-card-hover-color: $default-ui-color;

$color1: rgb(255, 219, 219);
$color2: rgb(227, 234, 255);
$color3: rgb(238, 255, 206);

// $footer-color: rgb(56, 53, 51);
$footer-color: rgb(92, 87, 83);
$footer-text-colot: rgb(255, 249, 240);

$default-font: "Maven Pro", "Noto Sans TC", sans-serif;
$brand-font: "Comfortaa", "Maven Pro", sans-serif;
$title-font: "Exo 2", "Maven Pro", sans-serif;
