$skyblue: rgb(203, 229, 255);
$placeholder-color: rgb(255, 191, 191);
$navbar-text-color: rgb(18, 58, 110);

$banner-title-color: rgb(211, 248, 228);
$banner-outer-color: rgba(0, 79, 168, 0.3);
$banner-inner-color: rgba(0, 0, 0, 0.1);

// $footer-color: rgb(56, 53, 51);
$footer-color: rgb(92, 87, 83);
$footer-text-colot: rgb(255, 249, 240);

$default-font: "Maven Pro", "Noto Sans TC", sans-serif;
$brand-font: "Comfortaa", "Maven Pro", sans-serif;
$title-font: "Exo 2", "Maven Pro", sans-serif;
