.home .content .latest .card {
  @extend %normal-card-block;

  &:nth-child(n + 2):hover {
    color: $latest-content-color;
    background-color: $latest-card-hover-color;
  }

  &:first-child {
    @extend %deck-title-block;
  }

  @include brk-down($brk-tiny) {
    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }
  }

  &:last-child {
    @extend %deck-more-block;

    &:hover {
      color: $content-color;
      background-color: rgba($more-card-hover-color, 0.6);
    }
  }
}

.home .content .hot-post .card {
  @extend %normal-card-block;

  &:nth-child(n + 2) {
    background-color: $hotpost-card-color;

    &:hover {
      color: $hotpost-card-color;
      background-color: $hotpost-card-hover-color;
    }
  }

  &:first-child {
    @extend %deck-title-block;
    border-color: $hotpost-ui-color;
    grid-column: 3 / 3;

    @include brk-down($brk-huge) {
      grid-column: 2 / 2;
    }

    @include brk-down($brk-small) {
      grid-column: unset;
    }

    h2 {
      left: 5rem;
    }

    h2:after {
      left: -1.6rem;

      border-color: $content-color;
      border-width: 0 0 12px 12px;
    }
  }

  @include brk-down($brk-tiny) {
    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }
  }

  &:last-child {
    @extend %deck-more-block;
    background-color: transparent;
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    @include brk-down($brk-huge) {
      grid-row: 3 / 3;
    }

    @include brk-down($brk-small) {
      grid-row: unset;
    }

    &:hover {
      color: $hotpost-ui-color;
      background-color: rgba($more-card-hover-color, 0.6);
    }
  }
}

.home .content .about .card {
  @extend %normal-card-block;

  &:first-child {
    @extend %deck-title-block;
    grid-column: 1 / 3;

    @include brk-down($brk-large) {
      // position: relative;
      place-self: center center;
    }

    @include brk-down($brk-small) {
      grid-column: unset;
    }

    h2 {
      bottom: 6rem;
      right: 8rem;
      font-size: 3.2rem;

      @include brk-down($brk-large) {
        position: static;
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }

    h2:before {
      content: "";
      position: absolute;
      width: 8rem;
      height: 5.2rem;
      top: -5rem;
      left: -9rem;

      border: solid $about-ui-color;
      border-width: 24px 0 0 26px;

      @include brk-down($brk-huge) {
        top: -5rem;
        left: -11rem;
      }

      @include brk-down($brk-large) {
        top: -1.6rem;
        left: -4rem;
        border-width: 20px 0 0 20px;
      }

      @include brk-down($brk-tiny) {
        display: none;
      }
    }

    h2:after {
      bottom: -2rem;
      right: -2.4rem;
      width: 8rem;
      height: 3.6rem;

      border-color: $about-ui-color;
      border-width: 0 18px 16px 0;

      @include brk-down($brk-large) {
        bottom: -1rem;
        right: -4rem;
        border-width: 0 24px 24px 0;
      }

      @include brk-down($brk-small) {
        display: none;
      }
    }
  }

  &:nth-child(n + 2) {
    background-color: $about-card-color;

    &:hover {
      color: $about-content-color;
      background-color: $about-card-hover-color;
    }
  }
}
