.home .content .latest .card {
  @extend %normal-card-block;

  &:nth-of-type(n + 2):hover {
    color: $latest-content-color;
    background-color: $latest-card-hover-color;
  }

  &:first-of-type {
    @extend %deck-title-block;
  }

  &:last-of-type {
    @extend %deck-more-block;

    &:hover {
      color: $content-color;
      background-color: rgba($more-card-hover-color, 0.6);
    }
  }
}

.home .content .hot-post .card {
  @extend %normal-card-block;

  &:nth-of-type(-n + 2),
  &:nth-of-type(n + 5) {
    background-color: $hotpost-card-color;

    &:hover {
      color: $hotpost-card-color;
      background-color: $hotpost-card-hover-color;
    }
  }

  &:nth-of-type(3) {
    @extend %deck-title-block;

    h2 {
      left: 5rem;
    }

    h2:after {
      left: -1.6rem;

      border-color: $content-color;
      border-width: 0 0 12px 12px;
    }
  }

  &:nth-of-type(4) {
    @extend %deck-more-block;

    &:hover {
      background-color: rgba($more-card-hover-color, 0.6);
    }
  }
}

.home .content .about .card {
  @extend %normal-card-block;

  &:first-of-type {
    @extend %deck-title-block;
    grid-column: 1 / 3;

    h2 {
      bottom: 6rem;
      right: 8rem;
      font-size: 3.2rem;
    }

    h2:before {
      content: "";
      position: absolute;
      width: 8rem;
      height: 5.2rem;

      top: -6rem;
      left: -12rem;

      border: solid $about-ui-color;
      border-width: 24px 0 0 26px;
    }

    h2:after {
      bottom: -2rem;
      right: -2.4rem;
      width: 8rem;
      height: 3.6rem;

      border-color: $about-ui-color;
      border-width: 0 18px 16px 0;
    }
  }

  &:nth-of-type(n + 2) {
    background-color: $about-card-color;

    &:hover {
      color: $about-content-color;
      background-color: $about-card-hover-color;
    }
  }
}
