.home .content .articles {
  display: flex;
  height: 16rem;
  padding: 0 3rem 0;

  .post {
    flex: 1;
    min-width: 0;
    margin-right: 2.4rem;

    background-color: $post-color;
    background-image: linear-gradient($post-color-deep, $post-color 40%);
    border-radius: 12px;

    transition: all 0.3s;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-20px) rotateZ(8deg);
    }

    &.dont-rotate:hover {
      // transform-origin: 80%;
      transform: translateY(-20px);
    }

    h3 {
      margin: 0;
      padding: 1rem 0.8rem 1rem 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-size: 1.6rem;
      //   color: $post-title-color;
    }

    .preview {
      position: relative;
      margin: 0;
      padding: 0 1.3rem 0 1.2rem;
      height: 10rem;
      overflow-y: hidden;
      text-overflow: ellipsis;

      font-size: 1.2rem;
      line-height: 1.2;
    }

    .dots {
      position: absolute;
      right: 1.2rem;
      bottom: 0;
      width: 8rem;
      height: 1.2rem;

      background-image: linear-gradient(
        to right,
        rgba($post-color, 0),
        $post-color 60%
      );
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 8rem;
    bottom: -2rem;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: linear-gradient(
      rgba($articles-deck-color, 0.3),
      rgba($articles-deck-color, 0.8)
    );
    border-radius: 10px;
  }
}
