.articles .breadcrumb-wrapper {
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  max-width: 1200px;

  .breadcrumb {
    padding: 0.8rem 1.2rem;
    border-radius: 8px;

    color: rgba($articles-ui-color, 0.8);
    font-size: 1.2rem;
    background-color: $articles-breadcrumb-color;

    span:after {
      content: '/';
      margin: 0 0.6rem;
      color: rgba($articles-ui-color, 0.4);

    }
  }
}