.articles main .main-wrapper {
  .post {
    padding: 0.8rem 1.2rem;
    // background-color: $post-color;

    h2 {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }

    &:first-of-type {
      grid-column: 1 / 3;

      .preview {
        height: 12rem;
      }
    }

    &:nth-of-type(3n) {
      background-color: $post-color0;
    }
    &:nth-of-type(3n + 1) {
      background-color: $post-color1;
    }
    &:nth-of-type(3n + 2) {
      background-color: $post-color2;
    }
  }

  .preview {
    margin: 0;
    height: 18rem;
    overflow-y: hidden;

    font-size: 1.4rem;
  }
}
